@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cuprum&display=swap");
.form-container {
  background-color: rgb(168, 200, 236);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;

  .form-title {
    text-align: center;
    font-family: "Cuprum", sans-serif;
    font-weight: bold;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 30px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .input-field {
    width: 280px;
    height: 50px;

    font-family: "Cuprum", sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
    border-radius: 5px;
    border: none;
    padding: 10px 0 10px;
    background: #e8eef5;
    text-align: center;

    &:focus {
      text-align: left;
    }
  }
  .submit-btn {
    box-sizing: border-box;
    border-radius: 0.2rem;

    width: 280px;
    height: 50px;

    cursor: pointer;
    font-family: "Cuprum", sans-serif;
    font-weight: bold;
    font-size: 16px;

    border: none;
    transition: 0.2s ease-in-out;
    background-color: #435fef;
    color: white;

    margin-bottom: 30px;

    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

    &:hover {
      opacity: 0.8;
    }
  }
}

.select-gender {
  -webkit-appearance: none;
  padding: 7px 40px 7px 12px;
  margin-bottom: 30px;
  width: 280px;
  height: 50px;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  background: white;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  font-family: "Cuprum", sans-serif;
  font-weight: bold;
  font-size: 16px;
  transition: all 150ms ease;
  &:required:invalid {
    color: #5a667f;
  }

  & option {
    color: #223254;

    &:focus {
      outline: none;
      border-color: #0077ff;
      box-shadow: 0 0 0 2px rgba(#0077ff, 0.2);
    }
  }
}
.register {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
