@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cuprum&display=swap");
.form-container {
  // background-color: rgb(181, 228, 11);
  position: fixed;
  min-width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 50px;
  height: 90vh;
  display: flex;

  .form-left {
    background-color: #a9c9ff;
    background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);

    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px 0 0 5px;
    // align-items: center;
    .form-title {
      // text-align: center;
      font-family: "Cuprum", sans-serif;
      font-weight: bold;
      font-weight: 500;
      font-size: 30px;
      margin-bottom: 30px;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .input-group {
      position: relative;

      margin-bottom: 30px;
      .input-field {
        width: 280px;
        height: 50px;

        letter-spacing: 1px;
        font-family: "Cuprum", sans-serif;
        font-weight: bold;

        border: none;
        border-bottom: 1px solid rgb(134, 134, 134);
        padding: 10px;
        background: none;

        transition: 0.2s ease-in-out;

        & ~ .focus-border {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 0px;
        }
        &:focus ~ .focus-border {
          width: 100%;

          transition: 0.5s;
        }
      }
    }
    .focus-border {
      border: 1px solid #4285f4 !important;
    }
    .submit-btn {
      box-sizing: border-box;
      border-radius: 0.2rem;

      width: 280px;
      height: 50px;

      cursor: pointer;
      font-family: "Cuprum", sans-serif;
      font-weight: bold;
      font-size: 16px;

      border: none;
      transition: 0.2s ease-in-out;
      background-color: #435fef;
      color: white;

      margin-bottom: 30px;

      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
        0 0 40px rgba(0, 0, 0, 0.1) inset;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .select-gender {
    -webkit-appearance: none;
    padding: 7px 40px 7px 12px;
    margin-bottom: 30px;
    width: 280px;
    height: 50px;
    border: 1px solid #e8eaed;
    border-radius: 5px;
    background: white;
    box-shadow: 0 1px 3px -2px #9098a9;
    cursor: pointer;
    font-family: "Cuprum", sans-serif;
    font-weight: bold;
    font-size: 16px;
    transition: all 150ms ease;
    &:required:invalid {
      color: #5a667f;
    }

    & option {
      color: #223254;

      &:focus {
        outline: none;
        border-color: #0077ff;
        box-shadow: 0 0 0 2px rgba(#0077ff, 0.2);
      }
    }
  }
  .form-right {
    width: 60%;
    border-radius: 0 5px 5px 0;
    background: #f2f4ef;
    display: flex;
    align-items: center;
    & img {
      width: 100%;
      height: auto;
    }
  }
}
.login-options {
  display: flex;

  align-items: center;

  justify-content: space-around;
  margin-top: 20px;
  width: 60%;

  & img {
    cursor: pointer;
    width: 3rem;
  }
}
.register {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.separator {
  margin-top: 20px;
  width: 70%;
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
  &:before {
    content: "";
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 0.5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    // color: #818078;
    background-color: none;

    background-image: linear-gradient(180deg, #f1a9ff 0%, #ffbbec 100%);
  }
}

@media screen and (max-width: 928px) {
  .form-right {
    display: none !important;
  }
  .form-left {
    width: 100% !important;
  }
}
